.footer {
  width: 100%;
  background: var(--absolute-white);
}
.footer__inner {
  padding: 100px 0 30px;
  width: 100%;
}
@media (max-width: 1440px) {
  .footer__inner {
    padding: 60px 0 20px;
  }
}
@media (max-width: 1000px) {
  .footer__inner {
    padding: 50px 0 24px;
  }
}
.footer__inner__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--white-95);
}
@media (max-width: 1440px) {
  .footer__inner__top {
    padding-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .footer__inner__top {
    gap: 24px;
    padding-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .footer__inner__top {
    flex-direction: column;
  }
}
.footer__inner__top .left_side_footer {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .footer__inner__top .left_side_footer {
    gap: 30px;
  }
}
.footer__inner__top .left_side_footer .logo_container {
  width: 54px;
  height: 54px;
}
@media (max-width: 1440px) {
  .footer__inner__top .left_side_footer .logo_container {
    width: 44px;
    height: 44px;
  }
}
.footer__inner__top .left_side_footer .logo_container .logo {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.footer__inner__top .left_side_footer .list_left_side {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1440px) {
  .footer__inner__top .left_side_footer .list_left_side {
    gap: 14px;
  }
}
@media (max-width: 1000px) {
  .footer__inner__top .left_side_footer .list_left_side {
    gap: 12px;
  }
}
.footer__inner__top .left_side_footer .list_left_side .li_left_side .a_left_side {
  text-decoration: none;
  display: flex;
  gap: 6px;
  align-items: center;
}
.footer__inner__top .left_side_footer .list_left_side .li_left_side .icon_footer_container {
  width: 24px;
  height: 24px;
  padding: 2px;
}
@media (max-width: 1440px) {
  .footer__inner__top .left_side_footer .list_left_side .li_left_side .icon_footer_container {
    width: 20px;
    height: 20px;
  }
}
.footer__inner__top .left_side_footer .list_left_side .li_left_side .icon_footer_container .icon_footer {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.footer__inner__top .left_side_footer .list_left_side .li_left_side .text_of_list_left_side {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-15);
}
@media (max-width: 1440px) {
  .footer__inner__top .left_side_footer .list_left_side .li_left_side .text_of_list_left_side {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .footer__inner__top .left_side_footer .list_left_side .li_left_side .text_of_list_left_side {
    font-size: 15px;
  }
}
.footer__inner__top .right_side_footer {
  font-family: var(--font-family);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 1440px) {
  .footer__inner__top .right_side_footer {
    gap: 24px;
  }
}
.footer__inner__top .right_side_footer .list_right_side {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}
.footer__inner__top .right_side_footer .list_right_side .li_right_side .link_right_side {
  text-decoration: none;
}
.footer__inner__top .right_side_footer .list_right_side .li_right_side .link_right_side .text_of_list_right_side {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-35);
}
@media (max-width: 1440px) {
  .footer__inner__top .right_side_footer .list_right_side .li_right_side .link_right_side .text_of_list_right_side {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .footer__inner__top .right_side_footer .list_right_side .li_right_side .link_right_side .text_of_list_right_side {
    font-size: 14px;
  }
}
.footer__inner__top .right_side_footer .heading_h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--grey-15);
}
@media (max-width: 1440px) {
  .footer__inner__top .right_side_footer .heading_h3 {
    font-size: 18px;
  }
}
.footer__inner__top .right_side_footer .home_column, .footer__inner__top .right_side_footer .about_column, .footer__inner__top .right_side_footer .social_column {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (max-width: 1440px) {
  .footer__inner__top .right_side_footer .home_column, .footer__inner__top .right_side_footer .about_column, .footer__inner__top .right_side_footer .social_column {
    gap: 10px;
    width: 230px;
  }
}
@media (max-width: 1000px) {
  .footer__inner__top .right_side_footer .home_column, .footer__inner__top .right_side_footer .about_column, .footer__inner__top .right_side_footer .social_column {
    width: 150px;
  }
}
@media (max-width: 560px) {
  .footer__inner__top .right_side_footer .home_column {
    width: 128px;
  }
}
@media (max-width: 560px) {
  .footer__inner__top .right_side_footer .about_column {
    width: 190px;
  }
}
@media (max-width: 560px) {
  .footer__inner__top .right_side_footer .social_column {
    width: 100%;
  }
}
.footer__inner__top .right_side_footer .social_column .icons_socials {
  display: flex;
  gap: 14px;
}
.footer__inner__top .right_side_footer .social_column .icons_socials .social_media_container {
  border: 1px solid var(--white-95);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background: var(--white-97);
}
@media (max-width: 1440px) {
  .footer__inner__top .right_side_footer .social_column .icons_socials .social_media_container {
    border-radius: 6px;
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 1440px) {
  .footer__inner__top .right_side_footer .social_column .icons_socials .social_media_container .image_of_social_media {
    width: 20px;
  }
}
.footer__inner__down {
  text-align: center;
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--grey-40);
}
@media (max-width: 1440px) {
  .footer__inner__down {
    font-size: 14px;
    margin-top: 30px;
  }
}
@media (max-width: 1000px) {
  .footer__inner__down {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=Footer.module.css.map */
