.open_course {
  margin-bottom: 115px;
}
.open_course__under {
  font-family: var(--font-family);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px;
}
.open_course__under .left_side_info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.open_course__under .left_side_info .description_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.open_course__under .left_side_info .description_section .extra_info {
  display: flex;
  gap: 15px;
  align-items: center;
}
.open_course__under .left_side_info .description_section .extra_info .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--absolute-black);
}
.open_course__under .left_side_info .description_section .extra_info .date {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--absolute-black);
}
.open_course__under .left_side_info .description_section .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--grey-35);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.open_course__under .left_side_info .description_section .show_more {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--absolute-black);
}
.open_course__under .left_side_info .description_section .show_fully {
  -webkit-line-clamp: initial;
}
.open_course__under .left_side_info .comment_section {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 742px;
  border-radius: 8px;
  background: var(--absolute-white);
}
.open_course__under .left_side_info .comment_section .to_comment {
  top: 0;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  min-height: 62px;
  background: var(--absolute-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  gap: 25px;
}
.open_course__under .left_side_info .comment_section .to_comment .avatar_container {
  width: 46px;
  height: 46px;
  overflow: hidden;
  border-radius: 50%;
}
.open_course__under .left_side_info .comment_section .to_comment .avatar_container .avatar {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.open_course__under .left_side_info .comment_section .to_comment .input_field_comment_section {
  border: none;
  width: 500px;
  text-overflow: ellipsis;
  height: 40px;
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid var(--grey-60);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--grey-30);
  resize: none;
}
.open_course__under .left_side_info .comment_section .to_comment .input_field_comment_section::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--grey-60);
}
.open_course__under .left_side_info .comment_section .to_comment .input_field_comment_section:active, .open_course__under .left_side_info .comment_section .to_comment .input_field_comment_section:hover, .open_course__under .left_side_info .comment_section .to_comment .input_field_comment_section:focus {
  outline: 0;
  outline-offset: 0;
}
.open_course__under .left_side_info .comment_section .to_comment .input_field_comment_section:focus {
  border-bottom: 2px solid var(--grey-30);
}
.open_course__under .left_side_info .comment_section .to_comment .to_leave_message {
  border-radius: 41px;
  width: 108px;
  border: none;
  background: var(--orange-50);
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--absolute-white);
  height: 40px;
}
.open_course__inner .video {
  margin-bottom: 51px;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
}
.open_course__inner .video_preview {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.open_course__inner .video .iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.open_course__inner .video .play_btn {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.47);
}
.open_course__inner .title_and_btns {
  font-family: var(--font-family);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.open_course__inner .title_and_btns .heading_h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: var(--grey-15);
}
.open_course__inner .title_and_btns .btns {
  display: flex;
  gap: 10px;
}
.open_course__inner .title_and_btns .btns .share_container {
  width: 44px;
  height: 44px;
  padding-top: 5px;
}
.open_course__inner .title_and_btns .btns .share_container .share_image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.open_course__inner .title_and_btns .btns .like_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.open_course__inner .title_and_btns .btns .like_container .like_container_image {
  width: 44px;
  height: 44px;
}
.open_course__inner .title_and_btns .btns .like_container .like_container_image .like_image {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s ease-in-out;
}
.open_course__inner .title_and_btns .btns .like_container .like_container_image .liked {
  fill: var(--grey-15);
}
.open_course__inner .title_and_btns .btns .like_container .number_like {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--absolute-black);
  user-select: none;
}

/*# sourceMappingURL=openCoursePage.module.css.map */
